<!DOCTYPE html>
<html>

<head>
	<title>Bill</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style type="text/css" media="screen">
		body {
			text-decoration-color: white;
			font-size: 30px;
		}

		.name {
			font-size: 25px;
		}

		.column {
			float: left;
			width: 30%;
			padding: 10px;
			height: 300px;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
	</style>
</head>

<body>
	<center class="name">किपला दूध सं.मया.</center>
	<center >नाव: 1 - गणपती संतू पाटील</center>
	<hr>
	<div style="margin-left: 30px;">
		<table class="table">
			<tr>
				<th>तारीख</th>
				<th>वेळ</th>
				<th>दूध</th>
				<th>फॅट</th>
				<th>SNF</th>
				<th>दर</th>
				<th>रक्कम</th>
			</tr>
			<tr>
				<td>1/11/22</td>
				<td>सकाळ</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>1/11/22</td>
				<td>सकाळ</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>2/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>2/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>3/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>3/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>4/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>4/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>5/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>5/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>6/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>6/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>7/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>7/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>8/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>8/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>9/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>9/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>10/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>
			<tr>
				<td>10/11/22</td>
				<td>संध्या</td>
				<td>1.65</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
				<td>100</td>
			</tr>

		</table>
	</div>
	<div>
		<table class="table table-bordered" style="padding-left: 50%;padding-right: 50%;">
			<tr>
				<td>ए.दूध</td>
				<td><b>9.5लि.</b></td>
				<td>ऍडव्हान्स</td>
				<td><b>120रु.</b></td>
			</tr>
			<tr>
				<td>पशुखाद्य</td>
				<td><b>120रु.</b></td>
				<td>ए.कपात</td>
				<td><b>120रु.</b></td>
			</tr>
			<tr>
				<td>ए.रक्कम</td>
				<td><b>120रु.</b></td>
				<td>बँक भरणा</td>
				<td><b>120रु.</b></td>
			</tr>
			<tr>
				<td>शि.पशुखाद्य</td>
				<td><b>120रु.</b></td>
				<td>देय रक्कम</td>
				<td><b>120रु.</b></td>
			</tr>
		</table>
	</div>
</body>

</html>